@page "/Trabajos/DeleteTrabajo/"
@page "/Trabajos/DeleteTrabajo/{TrabajoId:int}"
@rendermode InteractiveServer
@inject TrabajoService trabajoService
@inject NavigationManager navigation


<PageTitle>Eliminar t&eacute;cnicos</PageTitle>
<EditForm Model="Trabajo" OnValidSubmit="EliminarTrabajo">
	<DataAnnotationsValidator />
	<div class="container">
		<div class="card-shadow-lg">
			<div class="card-header bg-danger text-white text-center ">
				<h2 class="bi bi-journal-x"><strong>Eliminar t&eacute;cnico</strong></h2>
			</div>
			<div class="card-body">
				<h6><strong>¿Seguro que deseas eliminar este t&eacute;cnico?</strong></h6>
				@*Datos*@
				<div class="mb-1">
					@*TrabajoId*@
					<div><strong>Trabajo ID:</strong> @Trabajo.TrabajoId</div>
					@*Prioridad*@
					<div><strong>Prioridad:</strong> @Trabajo.Prioridad.DescripcionPrioridad</div>
					@*DescripcionTrabajo*@
					<div><strong>Descripci&oacute;n trabajo:</strong> @Trabajo.DescripcionTrabajo</div>
					@*Monto*@
					<div><strong>Monto:</strong> @($"{Trabajo.Monto:C}")</div>
					@*Fecha*@
					<div><strong>Fecha:</strong> @Trabajo.Fecha</div> <br />

					@*ClienteId*@
					<div><strong>Cliente ID:</strong> @Trabajo.ClienteId</div>
					@*NombreCliente*@
					<div><strong>Nombre cliente:</strong> @Trabajo.Cliente.Nombres</div>
					@*WhatsApp*@
					<div><strong>WhatsApp:</strong> @String.Format("{0:(###) ###-####}", long.Parse(Trabajo.Cliente.WhatsApp)) </div> <br />

					@*TecnicoId*@
					<div><strong>T&eacute;cnico ID:</strong> @Trabajo.TecnicoId</div>
					@*NombreTecnico*@
					<div><strong>Nombre t&eacute;cnico:</strong> @Trabajo.Tecnico.NombreTecnico</div>
					@*IDTipoTecnico*@
					<div><strong>Tipo t&eacute;cnico ID:</strong> @Trabajo.Tecnico.TipoTecnicoId</div>
					@*Descripcion Tipo Tecnico*@
					<div><strong>Descripci&oacute;n tipo t&eacute;cnico:</strong> @Trabajo.Tecnico.TipoTecnico.Descripcion</div>

					@*DetallesUtilizados*@
					<div class="border border-success p-3 mt-3">
						<h5>Detalles articulos utilizados</h5>
						@foreach (var detalle in Trabajo.TrabajosDetalle)
						{
							<div>Articulo Id: @detalle.ArticuloId</div>
							<div>Precio de Articulo: @detalle.Precio $</div>
							<div>Cantidad de Articulos: @detalle.Cantidad</div>
							<div>Total en Articulos: @(detalle.Precio * detalle.Cantidad) $</div><br />
						}
					</div>

					<div class="card-footer">
						<a href="/Trabajos/IndexTrabajo"
						   class="btn btn-outline-secondary">
							<span class="bi bi-arrow-left mt-3"></span> Volver
						</a>
						<button type="button" class="btn btn-outline-danger bi bi-trash" @onclick=EliminarTrabajo> Eliminar</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</EditForm>



@code {

	[Parameter]
	public int TrabajoId { get; set; }
	public Trabajos Trabajo { get; set; } = new Trabajos();

	protected override async Task OnInitializedAsync()
	{
		if (TrabajoId > 0)
		{
			Trabajo = (await trabajoService.Buscar(TrabajoId));
		}

	}

	public async Task EliminarTrabajo()
	{
		var eliminar = await trabajoService.Eliminar(Trabajo.TrabajoId);

		if (eliminar)
		{
			navigation.NavigateTo("/Trabajos/IndexTrabajo");
		}

	}
}