@page "/Trabajos/DetailsTrabajo/"
@page "/Trabajos/DetailsTrabajo/{TrabajoId:int}"
@rendermode InteractiveServer
@inject TrabajoService trabajoService
@inject NavigationManager navigation


<PageTitle>Detalles Trabajos</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header bg-danger text-white text-center">
			<h3><strong>Detalles trabajos</strong> <i class="bi bi-person-bounding-box fs-2"/></h3>
		</div>
	</div>
	@*Body*@
	<div class="card-body">
		@if (Trabajo != null)
		{
			@*Datos*@
			<div class="mb-1">
				@*TrabajoId*@
				<div><strong>Trabajo ID:</strong> @Trabajo.TrabajoId</div>
				@*Prioridad*@
				<div><strong>Prioridad:</strong> @Trabajo.Prioridad.DescripcionPrioridad</div>
				@*DescripcionTrabajo*@
				<div><strong>Descripci&oacute;n trabajo:</strong> @Trabajo.DescripcionTrabajo</div>
				@*Monto*@
				<div><strong>Monto:</strong> @($"{Trabajo.Monto:C}")</div>
				@*Fecha*@
				<div><strong>Fecha:</strong> @Trabajo.Fecha</div> <br />

				@*ClienteId*@
				<div><strong>Cliente ID:</strong> @Trabajo.ClienteId</div>
				@*NombreCliente*@
				<div><strong>Nombre cliente:</strong> @Trabajo.Cliente.Nombres</div>
				@*WhatsApp*@
				<div><strong>WhatsApp:</strong> @String.Format("{0:(###) ###-####}", long.Parse(Trabajo.Cliente.WhatsApp)) </div> <br />

				@*TecnicoId*@
				<div><strong>T&eacute;cnico ID:</strong> @Trabajo.TecnicoId</div>
				@*NombreTecnico*@
				<div><strong>Nombre t&eacute;cnico:</strong> @Trabajo.Tecnico.NombreTecnico</div>
				@*IDTipoTecnico*@
				<div><strong>Tipo t&eacute;cnico ID:</strong> @Trabajo.Tecnico.TipoTecnicoId</div>
				@*Descripcion Tipo Tecnico*@
				<div><strong>Descripci&oacute;n tipo t&eacute;cnico:</strong> @Trabajo.Tecnico.TipoTecnico.Descripcion</div>

				@*DetallesUtilizados*@
				<div class="border border-success p-3 mt-3">
					@foreach (var detalle in Trabajo.TrabajosDetalle)
					{
						<div>Articulo Id: @detalle.ArticuloId</div>
						<div>Precio de Articulo: @detalle.Precio $</div>
						<div>Cantidad de Articulos: @detalle.Cantidad</div>
						<div>Total en Articulos: @(detalle.Precio * detalle.Cantidad) $</div>
						<br />
					}
				</div>

				<div class="card-footer">
					<a href="/Trabajos/IndexTrabajo"
					   class="btn btn-outline-secondary">
						<span class="bi bi-arrow-left mt-3"></span> Volver
					</a>
				</div>

			</div>
		}
	</div>
</div>

@code {

	[Parameter]
	public int TrabajoId { get; set; }

	public Trabajos Trabajo { get; set; } = new Trabajos();

	protected override async Task OnInitializedAsync()
	{
		Trabajo = await trabajoService.Buscar(TrabajoId);
	}

}